<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ionic.Zlib.Core" version="1.0.0" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" />
  <package id="Newtonsoft.Json" version="13.0.3" manuallyInstalled="true" />
  <package id="NVorbis" version="0.10.5" manuallyInstalled="true" />
  <package id="OggVorbisEncoder" version="1.2.2" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" />
  <package id="System.Text.Encodings.Web" version="7.0.0" />
  <package id="System.Text.Json" version="7.0.3" manuallyInstalled="true" />
  <package id="UETools.Core" version="0.4.1" />
  <package id="UETools.Pak" version="0.4.1" manuallyInstalled="true" />
  <package id="UETools.TypeFactory" version="0.4.1" manuallyInstalled="true" />
</packages>