<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Ionic.Zlib.Core" version="1.0.0" />
  <package id="ManagedBass" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Fx" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Midi" version="3.1.1" manuallyInstalled="true" />
  <package id="ManagedBass.Mix" version="3.1.1" manuallyInstalled="true" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="1.1.0" />
  <package id="Newtonsoft.Json" version="12.0.3" manuallyInstalled="true" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" />
  <package id="System.Text.Encodings.Web" version="4.7.0" />
  <package id="System.Text.Json" version="4.7.0" manuallyInstalled="true" />
  <package id="UETools.Assets" version="0.4.1" manuallyInstalled="true" />
  <package id="UETools.Core" version="0.4.1" />
  <package id="UETools.Objects" version="0.4.1" manuallyInstalled="true" />
  <package id="UETools.Pak" version="0.4.1" manuallyInstalled="true" />
  <package id="UETools.TypeFactory" version="0.4.1" />
  <package id="UniTask" version="2.3.3" manuallyInstalled="true" />
</packages>